bcrypt==3.2.0
cffi==1.14.6
cryptography==3.4.7
paramiko==2.7.2
netmiko==3.4.0
napalm==3.4.0
pyntc==0.19.0
pycparser==2.20
PyNaCl==1.4.0
six==1.16.0
ipaddress==1.0.23
requests~=2.25.1
dnspython~=2.2.1
idna~=2.10
future~=0.18.2
pip~=21.1.2
wheel~=0.36.2
Brotli~=1.0.9
PyYAML~=6.0
junos-eznc~=2.6.3
ncclient~=0.6.9
scp~=0.13.6
yamlordereddictloader~=0.4.0
Jinja2~=3.0.3
pyparsing~=3.0.7
transitions~=0.8.11
pyserial~=3.5
toml~=0.10.2
textfsm~=1.1.2
pyeapi~=0.8.4
pynxos~=0.0.5
click~=8.0.1
netaddr~=0.8.0
ciscoconfparse~=1.6.40
tenacity~=8.0.1
passlib~=1.7.4
grapheme~=0.6.0
urllib3~=1.26.7
typeguard~=2.13.3
jsonloader~=0.8.1
setuptools~=57.0.0
loguru~=0.6.0
Flask~=2.0.2
pyfiglet~=0.8.post1
colorama~=0.4.5